[% USE gtx = Gettext(config.po.textdomain, asset.lingua) %]
[% USE q = Qgoda %]
<nav id="sidenav" class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle w-75" type="button"
				id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				[% lingua = asset.lingua %]
				[% asset.language_codes.$lingua %]
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				[% FOREACH lingua IN config.linguas %]
					<a class="dropdown-item"
					   href="[% q.link(name = asset.name lingua = lingua) %]">[% asset.language_codes.$lingua %]
					</a>
				[% END %]
			</div>
		</div>
		[% IF asset.area_context =='province' %]
		<h3 class="h3">[% gtx.pgettext('country', asset.country) %]</h3>
			<div class="aside-comment"><em>
			[% IF asset.split %]
				[% gtx.xgettext('The numbers for the following areas are already included in the numbers for {country}.',
					country => gtx.pgettext('country', asset.country)) %]
			[% ELSE %]
				[% gtx.xgettext('The numbers for the following areas are not included in the numbers for {country}.',
					country => gtx.pgettext('country', asset.country)) %]
			[% END %]
			</em></div>
		[% END %]
		<ul class="nav flex-column">
			[% FOREACH area IN asset.areas %]
			[% IF area == name %]
				[% class = 'nav-link area-link' %]
			[% ELSE %]
				[% class = 'nav-link area-link' %]
			[% END %]
			<li class="nav-item">
				[% IF asset.area_context == 'province' %]
					[% name = asset.fcountry _ '/' _ area %]
				[% ELSE %]
					[% name = area %]
				[% END %]
				<a href="[% q.llink(name=name) %]"
				   class="[% class %]">
					[% IF asset.area_context == 'province' %]
						[% gtx.pgettext(asset.area_context, q.lxref('province', name = name)) %]
					[% ELSE %]
						[% gtx.pgettext(asset.area_context, q.lxref('title', name = area)) %]
					[% END %]
				</a>
			</li>
			[% END %]
		</ul>
	</div>
</nav>
