[% USE gtx = Gettext(config.po.textdomain, asset.lingua) %]
<nav id="sidenav" class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		[% IF asset.province %]
		<h3 class="h3">[% gtx.gettext(asset.country) %]</h3>
		[% END %]
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" href="/de/germany">
					Germany
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/de/italy">
					Italy
				</a>
			</li>
		</ul>
	</div>
</nav>
