[% USE gtx = Gettext(config.po.textdomain) %]
[% USE q = Qgoda %]
<h2>Section title</h2>
<div class="table-responsive">
	<table class="table table-striped table-sm">
	<thead>
	  <tr>
		<th>[% gtx.gettext('Date') %]</th>
		<th>Confirmed</th>
		<th>New Confirmed</th>
		<th>Recovered</th>
		<th>Deaths</th>
	  </tr>
	</thead>
	<tbody>
		[% FOREACH record IN asset.data %]
		<tr>
			<th class="date">[% q.strftime(gtx.gettext('%x'), record.timestamp, asset.lingua) %]</th>
			<td>[% record.confirmed %]</td>
			<td>[% record.new %]</td>
			<td>[% record.recovered %]</td>
			<td>[% record.deaths %]</td>
		</tr>
		[% END %]
	</tbody>
  </table>
</div>
