[% USE gtx = Gettext(config.po.textdomain, asset.lingua) %]
[% USE q = Qgoda %]
<h2>[% gtx.gettext('Data') %]</h2>
<p>[% gtx.gettext('All data provided by Johns Hopkins University') %]</p>
<div class="table-responsive">
	<table class="table table-striped table-sm">
	<thead>
	  <tr>
		<th>[% gtx.gettext('Date') %]</th>
		<th>[% gtx.gettext('Confirmed') %]</th>
		<th>[% gtx.gettext('New Confirmed') %]</th>
		<th>[% gtx.gettext('7-day average') %]</th>
		<th>[% gtx.gettext('Recovered') %]</th>
		<th>[% gtx.gettext('Deaths') %]</th>
	  </tr>
	</thead>
	<tbody>
		[% FOREACH record IN asset.data.reverse %]
		<tr>
			<th class="date">[% q.strftime(gtx.gettext('%x'), record.timestamp, asset.lingua) %]</th>
			<td>[% record.confirmed %]</td>
			<td>[% record.new %]</td>
			<td>[% record.new7 %]</td>
			<td>[% record.recovered %]</td>
			<td>[% record.deaths %]</td>
		</tr>
		[% END %]
	</tbody>
  </table>
</div>
